<nav class="navbar box-shadow app-header" style="border-bottom: 3px solid black;background-color: white;">
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-start align-items-center top-navbar">
            <a class="logo">
                <img src="./assets/logo.png" width="100px" height="60px" />
            </a>

            <div class="top-rigth-icons ml-auto">
                <i class="fa fa-sign-out" (click)="logout()"></i>
            </div>
        </div>
    </div>
</nav>